.navbar {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  padding: 20px 0 50px;

  .logo {
    font-size: 35px;
    color: green;
    margin: 0 auto 0 0;
    font-weight: 700;
  }

  .link {
    margin-left: 30px;
    color: rgb(126, 122, 122);

    i {
      margin-right: 5px;
      font-size: 19px;
    }
  }
}
