.commentsPage {
  max-width: 450px;
  margin: 0 auto;
  padding: 30px 0;
}

.comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment {
  margin-top: 15px;
}

.commentBody {
  min-height: 64px;
  padding: 20px 15px;
  font-size: 18px;
  border: 1px solid #e5e5e5;
}

.commentMeta {
  height: 47px;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  border-top: none;
  background-color: #f5f5f5;
  font-size: 14px;

  display: flex;
  align-items: center;
}

.img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 6px;
}

.name {
  margin-right: 6px;
  color: #5cb85c;
}

.delete {
  margin-left: auto;
  font-size: 12px;
  color: gray;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
